@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif";
}
.spaceBetween{
    justify-content: space-between;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    }
.alignCenter{
        align-items: center;
    }

.bold {
        font-weight: 600;
    }
 a{
        text-decoration: none;
        color: black;
    }
li{
        list-style: none;
    }
.center{
    justify-items: center;
}

.bgNav{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.bgProjet {
    background-color: aqua;
}




/* HEADER*/
header{
    /*background-color: aquamarine;*/
    padding: 15px 15px;
    /*background-color: #B9625D;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.navHeader{
    /*background-color: chartreuse;*/
    width: 50%;
}

 /*hero*/

.hero {
    height: 100vh;
}
.hero img{
    width: 50%;
    height: 50%;
    left: 80%;
}
.container{
    /* background-color: #c52626; */
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.projetaille{
    width:  80%;
    height: 80%;
}